@page
@model IndexModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page - Paneer and Peas";
}

<div class="main">
    <h1>Welcome to Paneer and Peas 🫛🍞</h1>
    <h3>Where you eat to stomach and heart full !</h3>
    <h2>Today's Specials</h2>
    <p>Check out our delicious menu for today!</p>
    <ul>
        <li>Paneer Fry</li>
        <li>Paneer Curry</li>
    </ul>
</div>
