@page
@model IndexModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page - Paneer and Peas";
}

<div class="main">
    <h1>Welcome to Paneer and Peas 🫛🍞</h1>
    <h3>Where you eat to stomach and heart full !</h3>
    <h2>Today's Specials</h2>
    <p>Check out our delicious menu for today!</p>
    <ul>
        <li>Paneer Fry</li>
        <li>Paneer Curry</li>
    </ul>
    <img src="https://imgs.search.brave.com/ZhluRmYWBckF_rZSEF2rONbqsJjKBFQ7Rc_YuSg5z8s/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/ZnJlZS1waG90by9j/dXJyeS13aXRoLWNo/aWNrZW4tb25pb25z/LWluZGlhbi1mb29k/LWFzaWFuLWN1aXNp/bmUtdG9wLXZpZXdf/MjgyOS02MjQwLmpw/Zz9zZW10PWFpc19o/eWJyaWQ" alt="Alternate Text" />
</div>
